.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 786px) {
    justify-content: center;
  }
}

.buttons { 
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    background-color: var(--purple-100);
    color: #fff;
    padding: 20px 10px;
    border-radius: 4px;
    border: none;
    margin: 20px;
    cursor: pointer;
  }

}