.heroContainer {
  background: var(--purple-300);
  width: 100%;
  min-height: 450px;
  max-height: 960px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.headingWrapper {
  padding: 2rem 0;
  max-width: 780px;
  margin: 0 auto;
  h1 {
    color: var(--white);
    font-size: 4.8rem;


    @media (max-width: 768px) {
      font-size: 2.8rem;
      padding: 0 1rem ;
    }
  }

}

.filterWrapper {
  p {
    color: var(--white);
    font-size: 1.4rem;
  }

  input {
    background: var(--white);
    color: var(--black);

    padding: 9px 16px;
    border: none;
    border-radius: 4px;
    margin: 8px 12px;

    font-size: 1.6rem;
    font-weight: bold;

    transition: 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }
}
